window.__TECHTUTOR_ENV__ = {
  PUBLIC_BACKEND_ORIGIN: "${PUBLIC_BACKEND_ORIGIN}",
  STRIPE_CURRENCY: "${STRIPE_CURRENCY}",
  VITE_STRIPE_CURRENCY: "${VITE_STRIPE_CURRENCY}",
  CAPTCHA_SITE_KEY: "${VITE_CAPTCHA_SITE_KEY}",
};
